gallery
	div.controls
		span.wide.info Source URL
		span.mini.jump-to
			button.jump-over Skip
		span.mini
			button.jump-first First
		span.mini
			button.jump-last Last
		span.mini.sort-switch
			button Sort Reverse
		span.mini
			label Fit
				select.fit
					option(
						value="sizing-fit-none"
					) None
					option(
						value="sizing-fit-width"
					) Width
					option(
						value="sizing-fit-height"
					) Height
					option(
						value="sizing-fit-both"
					) Both
		span.mini
			label Sidebar
				input.show-thumbs(
					type="checkbox"
					checked="true"
				)

	div.flex
		div.left
			button.left-inside.arrow-left ⇜
			div.main-img-wrap.left-inside
				img.main-img(src="http://via.placeholder.com/150x150/455A64/fff?text=?")
			button.left-inside.arrow-right ⇝
		div.right